.back-btn {
  margin: 32px 0 0 32px;
  padding: 8px 18px;
  max-width: 15rem;
  display: flex;
  align-self: center;
  background: #1976d2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}