.back-btn {
  margin:   32px;
  padding: 8px 18px;
  max-width: 15rem;
  display: flex;
  align-self: left;
  background: #1976d2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.employee-table {
  background: #fff;
  margin: 0 32px 32px 32px;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.07);
}