.step-increment-table{
  --name-width: 240px;
  --sg-width: 60px;
  --appointment-date-width: 130px;
  --year-width: 60%;

  font-size: 0.9rem;
  min-height: 500px;
  border: 1px solid;
  overflow: hidden; 
}

.step-increment-table .table-head,
.step-increment-table .table-body{
  display: flex;
}

.step-increment-table .td,
.step-increment-table .th{
  outline: 1px solid black !important;
  padding: 4px 7px;
}

.step-increment-table .th{
  text-align: center;
  font-weight: 700;
}

.step-increment-table .td{
  padding-bottom: 0;
}

.step-increment-table .th-name,
.step-increment-table .td-name{
  min-width: var(--name-width);
}

.step-increment-table .th-sg,
.step-increment-table .td-sg{
  min-width: var(--sg-width);
}

.step-increment-table .th-appointment-date,
.step-increment-table .td-appointment-date{
  min-width: var(--appointment-date-width);
}

.step-increment-table .th-year,
.step-increment-table .td-year{
  min-width: var(--year-width);
  text-align: center;
  justify-content: center;
  padding: 0;
}

.th-year-label{
  border-bottom: 1px solid black;
  font-weight: 700;
  padding-top: 5px;
}

.step-increment-table .th-year-list,
.step-increment-table .td-year-list {
  display: flex;
  max-width: 595px;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;

  /* Flip scroll direction */
  transform: rotateX(180deg);
}

.step-increment-table .td-year-list{
  scrollbar-width: none;
  margin-top: 0px;
  height: 100%;
  padding-top: 0;
}

.step-increment-table .th-year-list::-webkit-scrollbar,
.step-increment-table .td-year-list::-webkit-scrollbar {
  height: 8px; 
}

.step-increment-table .th-year-list::-webkit-scrollbar-track,
.step-increment-table .td-year-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.step-increment-table .th-year-list::-webkit-scrollbar-thumb,
.step-increment-table .td-year-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.step-increment-table .th-year-list::-webkit-scrollbar-thumb:hover,
.step-increment-table .td-year-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.step-increment-table .th-year-list .year,
.step-increment-table .td-year-list .year{
  transform: rotateX(180deg); 
  min-width: 70px;
  padding: 2px 8px;
  border: 1px solid black;
  border-bottom: none;
  text-align: center;
}

.step-increment-table .td-year-list .year{
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-increment-table .td-name{
  text-align: left;
  padding-left: 15px;
}

.step-increment-table .td-name .position-label{
  font-weight: 600;
}

.step-increment-table .td-name .name{
 text-transform: uppercase;
 font-size: 0.85rem;
 opacity: 0.9;
}